.App {
  padding: 40px;
}

h2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

span {
  margin-top: 1px;
  margin-bottom: 1px;
}

.infosbar {
  position: fixed;
  padding: 20px;
  bottom: 0;
  right: 55px;
  z-index: 50;
}

#root {
  height: 100vh;
  overflow: hidden;
}

.App {
  height: 100vh;
  overflow-y: scroll;
}